---
import Layout from "@/layouts/Layout.astro";
import { sanityClient  } from "sanity:client";
import { PortableText } from "astro-portabletext";

const query = `*[_type == "author"][0] {
    bio,
    email,
    linkedinLink,
        artstationLink,
        instagramLink,
            }
        `;
        
const {bio,email,linkedinLink,artstationLink,instagramLink} = await sanityClient.fetch(query);
---

<Layout title="Contact">
    <section class="p-12 flex md:flex-row flex-col justify-between gap-y-16 gap-x-[min(8vw,18.75rem)]">
        <div class="[&_p]:leading-relaxed [&_p]:text-lg">
            <PortableText value={bio}/>
        </div>
        <aside class="flex flex-col gap-y-12 text-lg  md:pb-32 md:pr-32 px-0">
            <div>
                <p class="mb-2">Contact</p>
                <a class="underline" href=`mailto:${email}`>{email}</a>
            </div>
            <div>
                {
                   (instagramLink||artstationLink||linkedinLink) && (
            <p class="mb-2">Follow</p>
                <ul class="flex flex-col gap-y-4">
                   {instagramLink && <li><a target="_blank" class="underline" href={instagramLink}>Instagram</a></li> }
                   {artstationLink &&    <li><a target="_blank" class="underline" href={artstationLink}>Artstation</a></li> }
                  { linkedinLink && <li><a target="_blank" class="underline" href={linkedinLink}>LinkedIn</a></li>}
                </ul>)
            </div>
        }
        </aside>
    </section>
  </Layout>