---
import LucideIcon from "@/components/ui/LucideIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import Artstation from "/images/artstation.svg?raw";
import LinkedIn from "/images/linkedin.svg?raw";
import Instagram from "/images/instagram.svg?raw";
const query = `*[_type == "contacts"][0] {
    email,
    linkedinLink,
        artstationLink,
        instagramLink,
            }
        `;

const { email, linkedinLink, artstationLink, instagramLink } =
  await sanityClient.fetch(query);
---

<Layout title="Contact">
  <section class="p-12 flex md:flex-row flex-col justify-between">
    <p class="mb-2">Contact</p>
    <a class="underline" href=`mailto:${email}`>{email}</a>
  </section>
  <div>
    {
      (instagramLink || artstationLink || linkedinLink) && (
        <>
          <p class="mb-2">Follow</p>
          <ul class="flex flex-col gap-y-4">
            {instagramLink && (
              <li>
                <a target="_blank" class="underline" href={instagramLink}>
                  Instagram
                </a>
                <div class="w-6 h-6">
                  <Fragment set:html={Artstation} />
                </div>
              </li>
            )}
            {artstationLink && (
              <li>
                <a target="_blank" class="underline" href={artstationLink}>
                  Artstation
                  <div class="w-6 h-6">
                    <Fragment set:html={Instagram} />
                  </div>
                </a>
              </li>
            )}
            {linkedinLink && (
              <li>
                <a target="_blank" class="underline" href={linkedinLink}>
                  LinkedIn
                  <div class="w-6 h-6">
                    <Fragment set:html={LinkedIn} class="w-6 h-6" />
                  </div>
                </a>
              </li>
            )}
          </ul>
        </>
      )
    }
  </div>
</Layout>
