---
import LucideIcon from "@/components/ui/LucideIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import Artstation from "/images/artstation.svg?raw";
import LinkedIn from "/images/linkedin.svg?raw";
import Instagram from "/images/instagram.svg?raw";

const query = `*[_type == "contacts"][0] {
    email,
    linkedinLink,
        artstationLink,
        instagramLink,
            }
        `;

const { email, linkedinLink, artstationLink, instagramLink } =
  await sanityClient.fetch(query);

// mine: service_g484pnr, template_hh74isr, bxUntg1rqcG0GTe2e
// his :             "service_igahi2u", "template_ek6c6ef", 9HBMP2kjnUixeomHd
---

<Layout title="Contact">
  <section class="p-4 sm:p-12 flex flex-col">
    <div class="mb-12">
      <h2
        class="text-left text-6xl tracking-tight font-extrabold text-gray-900"
      >
        Let's start a <br /> project together
      </h2>
    </div>
    <div class="flex flex-col gap-y-10 md:flex-row md:gap-x-32 items-start">
      <div class="px-4 basis-full w-full">
        <hr />
        <form id="contactForm" class="flex flex-col justify-between">
          <div class="flex flex-col p-6 pl-0 gap-1.5">
            <label html-for="from_name" class="font-bold">
              What's your name?
            </label>
            <input
              type="text"
              name="from_name"
              id="from_name"
              placeholder="John Doe *"
              auto-Complete="given-name"
              class="outline-none"
              required
            />
          </div>

          <hr />

          <div class="flex flex-col p-6 pl-0 gap-1.5">
            <label html-for="from_name" class="font-bold">
              What's your email?
            </label>
            <input
              type="text"
              name="reply_to"
              id="reply_to"
              placeholder="john@doe.com *"
              auto-Complete="given-email"
              class="outline-none"
              required
            />
          </div>

          <hr />
          <div class="flex flex-col p-6 pl-0 gap-1.5">
            <label html-for="message" class="font-bold"> Your message</label>
            <textarea
              name="message"
              id="message"
              rows={6}
              placeholder="Hello Abdel, can you help me with ... *"
              class="outline-none resize-none"
              required></textarea>
          </div>

          <button
            type="submit"
            class="h-20 w-20 rounded-full text-white bg-indigo-700 text-center font-semiboldtransition-colors duration-100 hover:bg-indigo-600"
          >
            send
          </button>
          <hr class="sm:hidden sm:my-30" />
        </form>
      </div>
      <div class="flex flex-col gap-y-8">
        <div>
          <p class="mb-2 uppercase leading-tight font-semibold">
            CONTACT DETAILS
          </p>
          <a class="hover:underline" href=`mailto:${email}`>{email}</a>
        </div>
        <div id="socials">
          <p class="mb-2 uppercase leading-tight font-semibold">SOCIALS</p>
          <ul
            class="flex flex-row justify-between sm:justify-start gap-2 sm:flex-col"
          >
            {
              instagramLink && (
                <li>
                  <a
                    class="flex flex-row gap-2"
                    target="_blank"
                    href={instagramLink}
                  >
                    <div class="[&_svg]:w-5 [&_svg]:h-5">
                      <Fragment set:html={Instagram} />
                    </div>
                    <span class="hover:underline">Instagram</span>
                  </a>
                </li>
              )
            }
            {
              artstationLink && (
                <li>
                  <a
                    class="flex flex-row gap-2"
                    target="_blank"
                    href={artstationLink}
                  >
                    <div class="[&_svg]:w-5 [&_svg]:h-5">
                      <Fragment set:html={Artstation} />
                    </div>
                    <span class="hover:underline">Artstation</span>
                  </a>
                </li>
              )
            }
            {
              linkedinLink && (
                <li>
                  <a
                    class="flex flex-row gap-2"
                    target="_blank"
                    href={linkedinLink}
                  >
                    <div class="[&_svg]:w-5 [&_svg]:h-5">
                      <Fragment set:html={LinkedIn} />
                    </div>
                    <span class="hover:underline">LinkedIn</span>
                  </a>
                </li>
              )
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
  <script>
    import emailjs from "@emailjs/browser";

    document.addEventListener("astro:page-load", () => {
      const isDev = import.meta.env.DEV;
      const EMAILJS = { SERVICE_ID: "", TEMPLATE_ID: "", PUBLIC_KEY: "" };
      if (isDev) {
        EMAILJS.SERVICE_ID = import.meta.env.PUBLIC_EMAILJS_SERVICE_ID;
        EMAILJS.TEMPLATE_ID = import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID;
        EMAILJS.PUBLIC_KEY = import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY;
      } else {
        EMAILJS.SERVICE_ID = import.meta.env.EMAILJS_SERVICE_ID;
        EMAILJS.TEMPLATE_ID = import.meta.env.EMAILJS_TEMPLATE_ID;
        EMAILJS.PUBLIC_KEY = import.meta.env.EMAILJS_PUBLIC_KEY;
      }

      if (document.querySelector("#contactForm")) {
        document
          .querySelector("#contactForm")
          .addEventListener("submit", async function (e) {
            e.preventDefault();
            try {
              let response = await emailjs.sendForm(
                EMAILJS.SERVICE_ID,
                EMAILJS.TEMPLATE_ID,
                "#contactForm",
                EMAILJS.PUBLIC_KEY,
              );
              console.log(response);
            } catch (err) {
              console.log(err);
            }
          });
      }
    });
  </script>
</Layout>
