---
// import { formatDate } from "@/utils";
import { imageUrlFor } from "@/lib/utils";

const { post } = Astro.props;
---

<a
  class="col-span-3 sm:col-span-1 group"
  href={`/${post._type}/${post.slug.current}`}
  transition:name={post.slug.current}
>
  <article>
    <figure class="group-hover:opacity-70 transition-opacity duration-100">
      <img
        class="rounded-sm"
        src={imageUrlFor(post.images[0]).width(640).height(640).url()}
        alt={post.title}
        height="640"
        width="640"
      />
    </figure>
    <figcaption class="mt-2">
      <h2 class="text-center font-semibold">
        {post.title}
      </h2>
    </figcaption>
  </article>
</a>
