---
import instagramIcon from "/images/instagram.svg?raw"; 
import linkIcon from "/images/link.svg?raw"; 
import { imageUrlFor } from "@/lib/utils";
import Icon from "./ui/Icon.astro";
import { sanityClient  } from "sanity:client";
import NavLink from "@/components/ui/NavLink.astro";
const currentPath = new URL(Astro.request.url).pathname;

const query = `*[_type == "author"][0] {
        artstationLink,
        instagramLink,
        logo    }
        `;
const {artstationLink,instagramLink,logo} = await sanityClient.fetch(query
   );

---
<header class="p-12 flex flex-row justify-between items-center">
  {currentPath}
    <a href="/">
      <img width="120" src={imageUrlFor(logo).width(480).url()} />
    </a>
    <nav class="flex flex-row gap-8">
      <ul class="flex flex-row gap-4">
        <li>
          <NavLink class="active:underline" href="/">
            work
          </NavLink>
        </li>
        <li>
          <NavLink href="/contact">contact</NavLink>
        </li>
      </ul>
      <div class="flex flex-row gap-4">
          <a href={instagramLink} target="_blank">
              <Icon icon={instagramIcon} />
          </a>
          <a href={artstationLink} target="_blank">
                <Icon icon={linkIcon} />
          </a>
      </di>
    </nav>
  </header>;
  