---
import { imageUrlFor } from "@/lib/utils";
import { sanityClient  } from "sanity:client";
import NavLink from "@/components/ui/NavLink.astro";
import {Instagram,Link2} from "lucide"
import LucideIcon from '@/components/ui/LucideIcon.astro';
import {Sun, Moon} from "lucide"
const query = `*[_type == "author"][0] {
        artstationLink,
        instagramLink,
        logo    }
        `;
const {artstationLink,instagramLink,logo} = await sanityClient.fetch(query
   );
---
<header class="p-12 flex flex-row justify-between items-center">
    <a href="/">
      <img width="120" height="120"  class="dark:invert aspect-square" src={imageUrlFor(logo).width(480).url()} alt="website logo" />
    </a>
<div class="flex flex-row gap-6">
    <nav class="flex flex-row gap-6">
      <ul class="flex flex-row gap-4">
        <li>
          <NavLink class="active:underline" href="/">
            work
          </NavLink>
        </li>
        <li>
          <NavLink href="/contact">contact</NavLink>
        </li>
      </ul>
      <div class="flex flex-row gap-6">
        <a href={artstationLink} target="_blank" aria-label="Click to view Artstation">
          <LucideIcon icon={Link2} />
    </a>
          <a href={instagramLink} target="_blank" aria-label="Click to view Instagram">
              <LucideIcon icon={Instagram} />
          </a>
      </div>
    </nav>
    <button id="themeToggle" transition:persist>
      <LucideIcon icon={Sun} class="hidden dark:block" />
      <LucideIcon icon={Moon} class="block dark:hidden" />
    </button>
</div>

  </header>
