---
import { imageUrlFor } from "@/lib/utils";
import LucideIcon from "./ui/LucideIcon.astro";
import { sanityClient  } from "sanity:client";
import NavLink from "@/components/ui/NavLink.astro";
import {Instagram,Link2} from "lucide"
import ThemeIcon from "./ui/ThemeIcon.astro";
const query = `*[_type == "author"][0] {
        artstationLink,
        instagramLink,
        logo    }
        `;
const {artstationLink,instagramLink,logo} = await sanityClient.fetch(query
   );
---
<header class="p-12 flex flex-row justify-between items-center">
    <a href="/">
      <img width="120" height="120"  class="dark:invert aspect-square" src={imageUrlFor(logo).width(480).url()} alt="website logo" />
    </a>
    <ThemeIcon  />

    <nav class="flex flex-row gap-8">
      <ul class="flex flex-row gap-6">
        <li>
          <NavLink class="active:underline" href="/">
            work
          </NavLink>
        </li>
        <li>
          <NavLink href="/contact">contact</NavLink>
        </li>
      </ul>
      <div class="flex flex-row gap-6">
          <a href={instagramLink} target="_blank" aria-label="Click to view Instagram">
              <LucideIcon icon={Instagram} />
          </a>
          <a href={artstationLink} target="_blank" aria-label="Click to view Artstation">
                <LucideIcon icon={Link2} />
          </a>
      </di>
    </nav>
  </header>
