---
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import { imageUrlFor } from "@/lib/utils";
import Layout from "@/layouts/Layout.astro";
import LucideIcon from "@/components/ui/LucideIcon.astro";
import { ChevronLeft, ChevronRight } from "lucide";

export async function getStaticPaths() {
  const query = `*[_type == "concept-art"]|order(orderRank) {
  ...,
  images[] {
    asset->{
      dominant,
      metadata {
      dimensions {
        width,
        height,
        "twAspectRatio":"auto " + string(width) + " / " + string(height),
      }
      },
      url
    },
    colSpan
  }
  }`;
  const posts = await sanityClient.fetch(query);
  return posts.map((props, id) => {
    const prevArticle = posts[id - 1];
    const nextArticle = posts[id + 1];
    const { slug, title, excerpt, images } = props;
    let processedImgs = images.map((img) => ({
      width: img.asset.metadata.dimensions.width,
      height: img.asset.metadata.dimensions.height,
      src: imageUrlFor(img).format("webp").url(),
      alt: title,
      aspectRatio: img.asset.metadata.dimensions.aspectRatio,
      colSpan: img.colSpan,
      twAspectRatio: img.asset.metadata.dimensions.twAspectRatio,
    }));
    return {
      params: { slug: slug.current },
      props: { slug, title, excerpt, processedImgs, prevArticle, nextArticle },
    };
  });
}
const { title, excerpt, processedImgs, prevArticle, nextArticle } = Astro.props;
---

<Layout title={title}>
  <section class="p-4 sm:p-12">
    <article>
      <figure
        class="grid grid-cols-6 grid-rows-[min-content_1fr] justify-items-center gap-2"
      >
        <figcaption
          class="text-center prose prose-slate prose-lg col-span-6 max-w-5xl mx-auto mb-32"
        >
          <PortableText value={excerpt} />
        </figcaption>

        {
          processedImgs.map(
            ({ twAspectRatio, width, height, src, alt, colSpan }) => {
              return (
                <div
                  style={`--col-span:${colSpan}`}
                  class="[grid-column:var(--col-span)]"
                >
                  <img
                    style={`--aspect-ratio:${twAspectRatio}`}
                    width={width}
                    height={height}
                    src={src}
                    alt={alt}
                    class="object-cover [aspect-ratio:var(--aspect-ratio)]"
                  />
                </div>
              );
            },
          )
        }
      </figure>
    </article>

    <div class="flex flex-row w-full justify-between mt-8">
      {
        prevArticle && (
          <a
            class="mr-auto flex flex-row-reverse gap-1 items-center"
            href={`/${prevArticle._type}/${prevArticle.slug.current}`}
          >
            <h3 class="text-left"> {prevArticle.title} </h3>
            <LucideIcon class="w-8 h-8" icon={ChevronLeft} />
          </a>
        )
      }
      {
        nextArticle && (
          <a
            class="ml-auto flex flew-row gap-1 items-center"
            href={`/${nextArticle._type}/${nextArticle.slug.current}`}
          >
            <h3 class="text-right">{nextArticle.title} </h3>
            <LucideIcon class="w-8 h-8" icon={ChevronRight} />
          </a>
        )
      }
    </div>
  </section>
</Layout>
